@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">WARNING!</h4>
    <p>API calls to my.retailbanking.com. Only modify data that is created from this site.</p>
    <hr>
    <p class="mb-0">Click links below to get started.</p>
</div>


<hr />
@Html.ActionLink("View All Customers","GetAllCustomers","Customer")
<hr />
@Html.ActionLink("Seach Customer","GetCustomer","Customer")
<hr />
@Html.ActionLink("Add Customer","AddCustomer","Customer")
<hr />

